.header {
    border-bottom: solid 1px var(--text-color);
    background-color: var(--bg-color);

    width: 100%;
    height: 35px;
    padding: 10px 0;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: space-around;

    z-index: 1000;
}

.logo {
    display: flex;
    flex-direction: row;
}

.logo span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.light {
    font-weight: 100;
}

.bold {
    font-weight: 700;
}

.button-right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.profile-btn, 
.requests-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.profile-btn:hover, 
.requests-btn:hover{
    --req-icon-color: var(--hovered-btn-color);
    color: var(--hovered-btn-color);
}

.usr-img{
    background-color: var(--bg-color-2);
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.request-icon-cont{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.buble-num{
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: var(--color-3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    color: var(--color-1);
}

.btn-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-style: none;
    border-radius: 20px;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 0 20px;
    font-size: var(--body-text-font-size);
    min-height: 35px;
}

.variant-2 {
    border: solid 1px var(--text-color);
    background-color: transparent;
    color: var(--text-color);
}

.btn-1:hover {
    background-color: var(--color-3);
    color: var(--color-1);
}

.variant-2:hover {
    border-color: var(--color-3);
}

.btn-1.disabled, .btn-1:disabled {
    background-color: var(--bg-color-1);
    color: var(--text-gray-color);
    border-color: var(--text-gray-color);
    cursor: not-allowed;
}

.black {
    border: solid 1px var(--color-1);
    background-color: transparent;
    color: var(--color-1);
}

.black:hover {
    background-color: var(--color-1);
    color: white;
}


.btn-2 {
    border-style: none;
    background-color: transparent;
    padding: 0 20px;
    min-width: 155px;
    font-size: var(--body-text-font-size);
    color: var(--text-color);
    min-height: 35px;
}

.btn-2:hover {
    letter-spacing: 0.1em;
}

.mode-switcher {
    border-style: none;
    min-height: 35px;
    padding: 0 3px;
    background-color: var(--bg-color-2);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.icon-container {
    height: 29px;
    width: 31px;
    border-radius: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun {
    background-color: var(--color-3);
}

.moon {
    background-color: var(--text-color);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;

    width: 100%;
    padding: 10px 0;
    background-color: var(--footer-color);
    color: white;
}

.dis-cont {
    text-decoration: none;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.dis-cont:hover {
    color: var(--color-3);
    --dic-icon-color: var(--color-3);
}

.hamburger-menu,
.sm {
    display: none;
}

.icon-btn {
    background-color: transparent;
    /* width: 50px; */
    height: 30px;
    padding: 0;
    border-style: none;
}

.resp-footer {
    display: none;
}

.link {
    text-decoration: none;
    color: var(--link-color);
}
.link:hover {
    text-decoration: none;
    color: var(--text-color);
    text-decoration: underline var(--color-3);
}

@media (max-width: 815px) {

    .header {
        height: 30px;
    }

    .sm {
        display: block;
    }

    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 30px;
    }

    .button-right-container {
        display: none;
    }

    .btn-1 {
        font-size: var(--body-text-font-size-small);
    }

    .btn-2 {
        min-width: 0;
        padding: 0;
        font-size: var(--body-text-font-size-small);
    }
}

.responsive_nav {
    position: fixed;
    left: 0;
    top: 51px;
    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: calc(100vh - 51px);
    width: 100%;
}

.vis {
    margin-left: 10%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.open-footer {
    display: flex;
    /* width: 100%; */
}