.pedestals-cont {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}

.pedestal-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-link-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.usr-img-holder {
    width: 50px;
    height: 50px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.pedestal {
    padding-top: 5px;
    width: 188px;
    background: var(--grad);
    border-radius: 20px 20px 0 0;
}

.num-1 {
    height: 230px;
}

.num-2 {
    height: 184px;
}

.num-3 {
    height: 145px;
}

.p-title {
    position: relative;
    top: -50px;
    margin: 0;
}

@media (max-width: 815px) {
    .pedestal {
        width: 100%;
        min-width: 75px;
    }

    .pedestals-cont {
        gap: 10px;
    }

    .p-title {
        position: inherit;
        margin-top: -25px;
        margin-bottom: 30px;
    }

    .num-1 {
        height: 180px;
    }

    .num-2 {
        height: 125px;
    }

    .num-3 {
        height: 75px;
    }

    .usr-img-holder {
        width: 30px;
        height: 30px;
    }

}