.table-header {
    width: 100%;
    height: 60px;
    background-color: var(--color-2);
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 20px; */
    color: white;
}

.col {
    min-width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tryper {
    min-width: 30%;
    justify-content: flex-start;
}

.table-entity {
    border-bottom: solid 1px var(--text-color);
    width: 90%;
    height: 40px;
    margin: 0 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    text-decoration: none;
    color: var(--text-color);
}

.r-h {
    padding: 0 5%;
    width: 90%;
}

.request-entity {
    display: grid;
    grid-template-columns: calc(50% - 0.25rem) calc(50% - 0.25rem);
    gap: 0.5rem;
}

.tbr-line {
    width: 100%;
    display: grid;
    grid-template-columns: calc(40% - 0.25rem) calc(60% - 0.25rem);
    gap: 0.5rem;
}

.tbr-btns {
    display: grid;
    grid-template-columns: calc(50% - 0.25rem) calc(50% - 0.25rem);
    gap: 0.5rem;
}

@media (max-width: 815px) {
    .add {
        display: none;
    }

    .table-header {
        height: 50px;
    }

    .request-entity {
        display: flex;
        flex-direction: column;
        gap: 0;
        height: 60px;
        justify-content: space-around;
    }
}