.table-header {
    width: 100%;
    height: 60px;
    background-color: var(--color-2);
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding: 0 20px; */
    color: white;
}

.col {
    min-width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tryper {
    min-width: 30%;
    justify-content: flex-start;
}

.table-entity {
    border-bottom: solid 1px var(--text-color);
    /* width: 90%; */
    height: 40px;
    margin: 0 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 815px) {
    .add {
        display: none;
    }

    .table-header {
        height: 50px;
    }
}