.imgs-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 85% calc(15% - 1.25rem);
    gap: 1.25rem;
    margin-bottom: 50px;
}

.main-pict {
    max-height: 600px;
    width: 100%;
}

.other-picts-cont {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.other-pict {
    width: 100%;
    max-height: calc((600px - 1.25rem * 4) / 5);
}

.upload-pict {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--bg-color-2);
    border-radius: 1.25rem;
    border: 1px dashed var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 50px;
}

.upload-label {
    cursor: pointer;
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.attached-img-cont {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.attached-img {
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
}

.cross-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    color: black;
    cursor: pointer;
    display: none;
}

.attached-img:hover .cross-icon {
    display: block;
}

@media (max-width: 850px) {
    .imgs-grid {
        grid-template-columns: 100%;
    }

    .main-pict {
        max-height: 200px;
    }

    .other-picts-cont {
        flex-direction: row;
    }

    .other-pict {
        max-height: 50px;
    }
}