/* @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

:root{
  --color-1: #232830;
  --color-2: #3D4756;
  --color-3: #DCF900;
  --color-4: #F3F5F8;
  --grad: linear-gradient(to bottom, var(--color-3), transparent);

  --body-text-font-size: 1.05em;
  --title-1-font-size: 1.5em;

  --title-font: 'Syne', sans-serif;
  --title-font-size: 4em;
  --title-font-size-adapted: 1.5em;
}

/* Light mode styles */
:root[data-theme="light"]{
  --bg-color: var(--color-4);
  --bg-color-2: #ffffff;
  --text-color: var(--color-1);
  --sun-color: var(--color-1);
}

/* Dark mode styles */
:root[data-theme="dark"]{
  --bg-color: var(--color-1);
  --bg-color-2: var(--color-2);
  --text-color: #ffffff;
  --sun-color: var(--color-4);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
  /* font-weight: 900; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--body-text-font-size);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
