/* @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@800&display=swap');

:root {
  --color-1: #232830;
  --color-2: #3D4756;
  --color-3: #DCF900;
  --color-4: #F3F5F8;
  --color-red: #EA2B1F;

  --dic-icon-color: white;
  --grad: linear-gradient(to bottom, var(--color-3), transparent);

  --body-text-font-size: 1.05em;
  --body-text-font-size-small: 0.8em; /* Equivalent to 14px */

  --title-1-font-size: 1.5em;
  --title-1-font-size-small: 1em; /* Equivalent to 16px */

  --title-font: 'Syne', sans-serif;
  --title-font-size: 4em;
  --title-font-size-adapted: 1.5em;

}

/* Light mode styles */
:root[data-theme="light"] {
  --bg-color: var(--color-4);
  --bg-color-2: #ffffff;
  --text-color: var(--color-1);
  --sun-color: var(--color-1);
  --footer-color: var(--color-1);
  --hovered-btn-color: var(--color-2);
  --req-icon-color: var(--text-color);
  --link-color: var(--color-2);
}

/* Dark mode styles */
:root[data-theme="dark"] {
  --bg-color: var(--color-1);
  --bg-color-2: var(--color-2);
  --text-color: #ffffff;
  --sun-color: var(--color-4);
  --footer-color: var(--color-2);
  --hovered-btn-color: var(--color-3);
  --req-icon-color: var(--text-color);
  --link-color: var(--color-4);
}

body {
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.big-title {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  font-weight: 800;
}

.title-1 {
  font-size: var(--title-1-font-size);
}

.text {
  font-size: var(--body-text-font-size);
}

@media (max-width: 815px) {

  .text {
    font-size: var(--body-text-font-size-small);
  }

  .title-1 {
    font-size: var(--title-1-font-size-small);
  }

  .big-title {
    font-size: var(--title-font-size-adapted);
  }
}